extends layout
block content
    div.banner 
        div.intro-text
            h1 About Us
            p My name is Mum Choon Jie (TP064004), and I'm a passionate web development student currently in my second year of studies. This free Python learning platform is a project undertaken as part of my web development coursework.
            h1 Motivation
            p The ever-growing demand for Python skills in various fields sparked my interest in creating this platform.  I believe everyone should have the opportunity to learn Python, regardless of their background or experience level.
            h1 Vision
            p My vision is to make Python learning accessible and engaging for everyone. This platform aims to provide a fun and interactive environment where users can learn Python concepts at their own pace.
            h1 Development Approach
            p While this is a solo project, I have leveraged the knowledge and skills I've acquired throughout my studies to create this prototype.  Although I'm still unfamiliar with frameworks like Express.js and advanced CSS styling, I've focused on core web development principles to ensure a user-friendly experience.
            h1 Future Development
            p This platform is currently in its initial stage.  I am committed to continuously improve it by incorporating user feedback, expanding the course content, and exploring the integration of additional features in the future.
            p Thank you for your interest!  I hope you find this platform helpful in your Python learning journey.
        div.intro-pic
            img(src="./images/AsiaPacificUniversityOfTechnology&Innovation.svg.png", alt="APU")