extends layout

block content
    div.banner 
        div.intro-text
            h1 Python made easy. 
            h1 Free learning for everyone
            p Python is one of the most sought-after programming languages in today's job market. By mastering Python, you'll open doors to exciting career opportunities in various fields like data analysis, web development, artificial intelligence, and more. Invest in your future, for free!
            div.navbar
                ul.links 
                    li 
                        a(class = "LRbtn" href="/login") Learn more 
        div.intro-pic
            img(src="./images/python.png", alt="python")

