body {
  height: 100vh;
  width: 100%;
  background-color:rgb(155, 154, 154);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
  background-color: #0097a7;
}
.navbar {
  display: flex;
  padding: 22px 0;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .logo {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar .logo img {
  width: 65px;
}
.navbar .logo h2 {
  color: #fff;
  font-weight: 6;
  font-size: 1.7rem;
}
.navbar .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.navbar .links a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.1s ease;
}
.navbar .links a:hover {
  color: #19e8ff;
}
.navbar .LRbtn {
  background: #3182b8;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s ease;
  margin-left: 3px;
}
.navbar .LRbtn:hover {
  background: #ffffff;
}

.banner{
  width: 80%;
  height:70%;
  top: 40%;
  left: 100px;
  position: absolute;
  color: #ffffff;
}

.intro-text{
  width: 50%;
  float: left;
}

.intro-text h1{
  font-size: 43px;
  width: 650px;
  position: relative;
  margin-left: 40px;
}

.intro-text p{
  width: 550px;
  font: size 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color:#020202
}

.intro-pic{
  width: 50%;
  float: right;
}

.intro-pic img{
  width: 100%;
  margin-top: -20px;
  padding-left: 150px;
}

.startbtn{
  margin-left: 40px ;
  display:inline-flex;
}

.startbtn-inner{
  height: 50px;
  width: 50PX;
  border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box,border-box;
  text-align: center;
}

.startbtn-inner .fa{
  padding:18px 0 ;
  font-size: 13px;
  cursor: pointer;
}

small{
  margin:auto 20px;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 3px;
}

